body {
  /*background-color: #f2f2f3;*/
}

/* MENU CONTENT */

.menu ul {
  box-shadow: 0 8px 20px -6px gray;
  text-decoration: none;
  text-align: left;
  background-color: #ef5350;
  font-family: "Roboto Condensed";
  font-size: 20px;
  list-style: none;
  padding: 10px;
  max-width: 1200px;
  margin: auto;
}

.menu li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
}

.menu a {
  color: #032b2f;
  text-decoration: none;
}

.menu a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menu a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* VIDEO CONTENT */

.videoContainer {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background-attachment: scroll;
  overflow: hidden;
}

.videoContainer video {
  display: block;
  min-width: 80%;
  max-height: 95%;
  position: relative;
  z-index: 0;
  opacity: 0.7;
}

.headline {
  top: 0px;
  left: 16px;
  position: absolute;
  background-color: transparent;
  color: white;
  font-family: "Roboto Condensed";
  font-size: 5vw;
  z-index: 1;
  text-shadow: 2px 2px 30px black;
}

/* BODY CONTENT */

div h2 {
  font-family: "Roboto Condensed";
  font-size: 40px;
  color: black;
  text-decoration: none;
  text-align: center;
  padding-top: 20px;
}

/* .pano img {
  width: auto;
  max-width: 100%;
  height: auto;
} */

.aboutme {
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.aboutme img {
  box-shadow: 0px 6px 20px -4px gray;
  margin-right: 20px;
  float: left;
}

.aboutme p {
  text-align: justify;
  font-family: "Roboto";
  font-size: 15px;
}

.projectTiles {
  display: grid;
  grid-gap: 45px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  text-align: center;
  margin: auto;
  max-width: 900px;
}

.p0 {
  background-image: url("./Main/rescusense.png");
  background-position: center;
  background-size: 99%;
  border-radius: 4px;
  opacity: 0.6;
}

.p1 {
  background-image: url("./Main/twitter logo fire.png");
  background-size: 99%;
  border-radius: 4px;
  opacity: 0.6;
}

.p2 {
  background-image: url("./Main/mrdt.jpg");
  background-position: center;
  background-size: 40%;
  border-radius: 4px;
  opacity: 0.6;
}

.p3 {
  background-image: url("./Main/pic3.jpg");
  border-radius: 4px;
  opacity: 0.6;
}

.p4 {
  background-image: url("./Main/led_sign.jpg");
  background-position: center;
  background-size: 99%;
  border-radius: 4px;
  opacity: 0.6;
}

.projectTiles li {
  width: 160px;
  height: 40px;
  padding: 40px;
  list-style: none;
  box-shadow: 0px 6px 10px -4px gray;
}

.projectTiles a {
  font-family: "Roboto Condensed";
  padding-bottom: 3px;
  text-decoration: none;
  line-height: 40px;
  text-align: center;
  color: black;
  background: none;
}

.projectTiles a:hover {
  color: white;
  font-size: 20px;
  background: rgba(0, 0, 0, 1);
  background-color: transparent;
  text-shadow: 1px 1px 5px black;
}

.contact {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.icons {
  margin: auto;
  max-width: 900px;
  text-align: center;
  text-decoration: none;
}

.icons i {
  padding-left: 20px;
  padding-right: 20px;
  color: none;
}

.icons a {
  text-decoration: none;
  color: black;
}

.icons a:visited {
  text-decoration: none;
  color: black;
}

.icons a {
  color: none;
}

.contact {
  text-align: justify;
  font-family: "Roboto";
  font-size: 15px;
}

.ContactField {
  padding: 5px;
  font-family: "Roboto";
  font-weight: 300;
  color: black;
}

.ptext {
  font-family: "Roboto";
}

.ctext {
  padding-bottom: 5px;
  padding-top: 7px;
}

.ContactField input {
  line-height: 2;
  border-bottom-color: #ef5350;
  border-right: None;
  border-left: None;
  border-top: None;
  font-family: "Roboto";
  font-size: 15px;
  text-align: center;
}

.ContactField textarea {
  padding: 3px;
  border: solid 2px #e57373;
  border-radius: 4px;
  font-family: "Roboto";
  font-size: 15px;
  resize: none;
}

.ContactField textarea::placeholder {
  color: #bdbdbd;
}

.ContactField input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
  font-family: "Roboto";
  font-size: 15px;
}

.ContactField input:focus {
  text-align: center;
}

input[type=submit] {
  background-color: #bdbdbd;
  border: none;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  cursor: pointer;
}
